
.header__lang-link {
  color: white;
  text-decoration: none;
  max-width: 30px;
  max-height: 28px;
  margin-left: 18px;
  transition: opacity 0.2s linear;
}

.header__lang-link:hover {
  opacity: 0.6;
  cursor: pointer;
}
