@import url(../photo-grid/__item/photo-grid__item.css);
@import url(../photo-grid/__template/photo-grid__template.css);

.photo-grid {
  position: relative;
  width: 100%;
  min-height: 671px;
  object-fit: cover;
  padding: 55px 55px 129px 41px;
}


@media screen and (max-width: 1100px) {
  .photo-grid {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 999px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 665px) {
  .photo-grid {
    padding: 46px 16px;
  }
}

@media screen and (max-width: 470px) {
  .photo-grid {
    padding: 64px 16px;
  }
}