@import url(../places/__list/places__list.css);

.places {
  position: relative;
  max-width: 80%;
  margin: 0 148px;
}

@media screen and (max-width: 1100px) {
  .places {
    max-width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 999px) {
  .places {
    width: 100%;
    margin:0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 665px) {
    .places {
      width: 100%;
      margin:0;
      padding: 0 16px;
    }
  }

@media screen and (max-width: 470px) {
    .places {
      width: 100%;
      padding: 0 16px;
  }
}
