.two-columns__url {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  color:#aaa;
}
