.two-columns__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 24px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}


@media screen and (max-width: 999px) {
  .two-columns__paragraph {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 665px) {
  .two-columns__paragraph {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 470px) {
  .two-columns__paragraph {
    font-size: 16px;
    line-height: 1.6;
  }
}
