@import url(../intro/__card/intro__card.css);
@import url(../intro/__list-item-accent/intro__list-item-accent.css);
@import url(../intro/__list-item/intro__list-item.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__title/intro__title.css);


.intro {
  position: relative;
  max-width: 690px;
  margin: 0 auto 0 148px;
}


@media screen and (max-width: 1100px) {
  .intro {
    width: 100%;
    margin: 0 auto 0 48px;
  }
}

@media screen and (max-width: 999px) {
  .intro {
    max-width: 720px;
    margin:0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 665px) {
  .intro {
    width: 100%;
    margin:0;
    padding: 0 16px;
  }
}

@media screen and (max-width: 470px) {
  .intro {
    width: 100%;
    margin:0;
    padding: 0 16px;
  }
}
