@import url(../cover/__link/cover__link.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);


.cover {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 0 48px;
  z-index: 0;
}


@media screen and (max-width: 1100px) {
  .cover {
    padding: 0;
  }
}
