.lead__caption {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  min-width: 159px;
  min-height: 14px;
  margin: 0;
}
