.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 560px;
  min-height: 152px;
  z-index: 2;
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 665px) {
  .cover__title {
    font-size: 46px;
    line-height: 1;
    min-height: 70px;
  }
}

@media screen and (max-width: 470px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.6;
    min-height: 70px;
    max-width: 250px;
  }
}
