
.header__lang-links {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: right;
}

@media screen and (max-width: 665px) {
  .header__lang-links {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 470px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.3;
  }
}
