@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.page {
  min-width: 320px;
  max-width: 1184px;
  background-color: #2a2c2f;
  color: white;
  margin: 0 auto;
}

.header {
  border: 1px solid green;
  padding: 28px 48px 56px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 52px;
  width: 100%;
}
.header__logo {
  border: 1px solid rgb(15, 228, 15);
  background-image: url(../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 52px;
  width: 176px;
}
.header__lang-links {
  border: 1px solid rgb(15, 228, 15);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}
.header__lang-link {
  border: 1px solid rgb(15, 228, 15);
  color: white;
  transition: opacity 0.2s linear;
}

.header__lang-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__lang-link_ru {
  max-width: 30px;
  max-height: 28px;
}
.header__lang-link_en {
  text-decoration: none;
  max-width: 30px;
  max-height: 28px;
  margin-left: 18px;
}
.lead {
  width: 80%;
  min-height: 406px;
  border: 1px solid rgb(236, 236, 159);
  margin: 0 auto;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lead__title {
  border: 1px solid rgb(173, 173, 100);
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  min-height: 200px;
  margin-top: 0;
  margin-bottom: 32px;
}
.lead__subtitle {
  border: 1px solid rgb(165, 165, 41);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  min-height: 72px;
  margin-top: 0;
  margin-bottom: 64px;
}
.lead__image {
  border: 1px solid rgb(216, 216, 24);
  max-width: 100%;
  max-height: 615px;
  margin-top: 0;
  margin-bottom: 8px;
}
.lead__caption {
  border: 1px solid rgb(218, 218, 22);
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  min-width: 159px;
  min-height: 14px;
  margin: 0;
}

.intro {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 1px solid pink;
}

.intro__card {
  border: 1px solid red;
  width: 68%;
  min-height: 428px;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  margin: 0 auto 40px auto;
}
.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto 32px auto;
}
.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  position: relative;
  border: 1px solid rgb(15, 122, 141);
  width: 100%;
  min-height: 671px;
  object-fit: cover;
  padding: 55px 55px 129px 41px;
}

.photo-grid__template {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  position: relative;
}

.places {
  position: relative;
  width: 80%;
  border: 1px solid rgb(216, 24, 56);
  padding: 0;
  margin: 0 auto;
}

.two-columns {
  position: relative;
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}
.two-columns:last-child {
  margin-bottom: 92px;
}

.two-columns__title {
  border: 1px solid rgb(230, 153, 52);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.two-columns__image {
  border: 1px solid rgb(230, 153, 52);
  width: 100%;
  object-fit: cover;
}

.two-columns__url-zone {
  border: 1px solid rgb(217, 255, 0);
  align-self: end;
}

.two-columns__url {
  border: 1px solid rgb(230, 153, 52);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 12px;
}

.two-columns__link {
  border: 1px solid rgb(230, 153, 52);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  transition: opacity 0.2s linear;
}

.two-columns__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.two-columns__paragraphs {
  border: 1px solid rgb(230, 153, 52);
  max-width: 484px;
}

.two-columns__paragraph {
  border: 1px solid rgb(230, 153, 52);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 24px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  border: 1px solid orange;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 0 48px;
  z-index: 0;
}

.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 740px;
  width: 100%;
  background: url(../images/cover-trains.jpg) no-repeat;
  background-size: cover;
  text-decoration: none;
  margin: auto;
  color: white;
  padding: 245px 0 32px;
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(42, 44, 47, 0.3);
  min-height: 740px;
  width: 100%;
  transition: background-color 0.2s linear;
}

.cover__link:hover::after {
  background-color: rgba(42, 44, 47, 0.8);
  cursor: pointer;
  z-index: 1;
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  min-height: 152px;
  border: 1px solid black;
  z-index: 2;
  margin: 0;
  margin-bottom: 32px;
}
.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  min-height: 66px;
  margin: 0;
  border: 1px solid black;
  z-index: 2;
}

.footer {
  width: 100%;
  border: 1px solid orangered;
  position: relative;
  padding: 92px 48px 24px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__links {
  border: 1px solid rgb(114, 100, 37);
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__copyright {
  border: 1px solid rgb(184, 171, 57);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }

  .lead {
    width: 100%;
    padding: 0 48px;
  }

  .intro {
    width: 100%;
    padding: 0 48px;
  }
  .photo-grid {
    padding: 92px 48px;
  }

  .photo-grid__template {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .places {

    width: 100%;
    padding: 0 48px;
  }
  .two-columns {
    grid-template-columns: 440px 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-gap: 48px 32px;
  }
  .cover {
    padding: 0;

  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }

  .lead {
    width: 100%;
    padding: 0 24px 88px;
  }
  .lead__image {
    max-width: calc(100% + 48px);
  }

  .intro {
    width: 100%;
    padding: 0 24px;
  }
  .intro__card{
    width: 100%;

  }
  .photo-grid {
    padding: 88px 24px;
  }

  .photo-grid__template {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .places {
    width: 100%;
    padding: 0 24px;
  }
  .two-columns {
    grid-template-columns: 340px 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-gap: 48px 28px;
  }
  .two-columns__title {
    text-align:left;
    font-size: 42px;
    line-height: 46px;
  }

  .two-columns__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .cover__link {
    min-height: 480px;
    padding: 115px 0;

  }
}


/* @media screen and (max-width: 425px) {
  .photo-grid__template {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1, 1fr;
  }
} */
